.ag-theme-blue .ag-header {
  background-color: green !important
}
.ag-theme-blue .ag-row-odd {
  background-color: white;
}
.ag-theme-balham .ag-cell-inline-editing select {
  height: 100%;
}
.ag-cell {
    background-color:#f6f5f5;
    border-width: 0px 1px 0px 0px !important;
    border-color: lightgray !important;
    border-style: solid !important;
}
.dirty{
  border-color: Red !important;
  border-style: solid !important;
  border-width: 1px !important;
}
.touched{
  background-color: yellow !important
}
.ag-header-row{
  background-color: #23C8AB;
  color: white;
  font-family: Roboto,"Helvetica Neue",sans-serif !important;
}
.editable-color{
  background-color: white;
  color : #1a61df;
}
.text-right{
  text-align: right;
}
.ag-header-group-cell-label > .ag-header-group-text{
  margin: 0 auto;
}
.edited-color{
  background-color:#FEF6C9 !important
}
.ag-floating-bottom-container > .ag-row{
  color:white
}
.ag-floating-bottom-container > .ag-row >.ag-cell{
  background-color: #66afc9;
  color: white !important;
}
// .ag-theme-balham .ag-header-cell-label .ag-header-cell-text{
//   text-overflow: initial !important;
//   white-space: normal !important;
//   word-wrap: break-word !important;
//   word-break: break-word !important;
//   line-height: 15px !important;
//   text-align: center !important;
// }

// .ag-header-cell-label{
//   padding-top: 8px;
// }

.vertical{
  background: #23C8AB !important;
  border:0px !important;
}
.vertical span{
  writing-mode: tb-rl;
  margin: 20px 0 5px;
  word-spacing: 5px;
}
.ng-sidebar{
  background-color: #23C8AB !important;
  width: 12%;
  overflow:auto;
  border-width: 0px 0px 0px 2px !important;
  border-color: ghostwhite;
  border-style: solid;
}
.sidebarchecks{
  width: 28px !important;
}
.sidebarspaced{
  margin:0pc !important;
  padding: 2px !important;
}
.sidebartext{
  color:white !important;
  font-size: 10px !important;
}
.aggregaterow .aggregatecol{
  background: #66afc9 !important;
  color:white;
  cursor: not-allowed;
}
.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}
.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  /* Position the tooltip */
  position: absolute;
  z-index: 1;
}
.tooltip:hover .tooltiptext {
  visibility: visible;
}
.cuppa-dropdown{
  width:100px !important
}
.grayedcell{
  background: lightgray !important
}
.roboto-font{
  font-family: Roboto,"Helvetica Neue",sans-serif !important;
}

// .invisible{
//   color: red;
//   height: 0px !important;
//   visibility:collapse !important
// }
a.disabled {
  color: gray;
  cursor: not-allowed;
  text-decoration: underline;
}
.ag-theme-balham .ag-header-cell-label{
  display: table !important;
}
.rightaligned [ref="eLabel"]{
  float: right !important;
}

.rightaligned [ref="eText"]{
  float: right !important;
}
.rightaligned{
  text-align: end;
  padding-right: 11px;
}

// Ag Grid Global Styles
// ===
.ag-grid-delete {
  cursor: pointer;
  color: $error-color;
  margin-top: 3px;
  font-size: 20px;
}
// ===
