.ag-theme-blue .ag-header {
  background-color: green !important
}

.ag-theme-blue .ag-row-odd {
  background-color: white;
}

.ag-theme-balham .ag-cell-inline-editing select {
  height: 100%;
}

.ag-cell {
  background-color:white
}

.ag-header-row{
  background-color: #23C8AB;
  color: white;
}

.editable-color{
  background-color: #dcf0f4 !important
}

.editable-color-not-important{
  background-color: #dcf0f4;
}

.text-right{
  text-align: right;
}
.ag-header-group-cell-label > .ag-header-group-text{
  margin: 0 auto;
}

.edited-color{
  background-color: #f28f35 !important
}


.ag-floating-bottom-container > .ag-row{
  color:white
}

.ag-floating-bottom-container > .ag-row >.ag-cell{
  background-color: darkslateblue;
}

// .ag-theme-balham .ag-header-cell-label .ag-header-cell-text{
//   text-overflow: initial !important;
//   white-space: normal !important;
//   word-wrap: break-word !important;
//   word-break: break-word !important;
//   line-height: 15px !important;
//   text-align: center !important;
// }

// .ag-header-cell-label{
//   padding-top: 8px;
// }

.vertical{
  background: #23C8AB !important;
  border:0px !important;
}

.vertical span{
  writing-mode: tb-rl;
  margin: 20px 0 5px;
  word-spacing: 5px;
}

.ng-sidebar{
  background-color: #23C8AB !important;
  width: 12%;
  overflow:auto;
  border-width: 0px 0px 0px 2px !important;
  border-color: ghostwhite;
  border-style: solid;

}

.sidebarchecks{
  width: 28px !important;
}

.sidebarspaced{
  margin:0pc !important;
  padding: 2px !important;
}

.sidebartext{
  color:white !important;
  font-size: 10px !important;
}

.aggregaterow .aggregatecol{
  background: lightgreen !important;
  color:white;
}


.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}