.mat-menu-item, .mat-button, .mat-flat-button, .mat-icon-button, .mat-stroked-button {
  font-weight: 300;
  font-size: $base-font-size;
}

div.mdl-layout__drawer > nav.mdl-navigation > a.mdl-navigation__link {
    display: inline-flex;
    vertical-align: middle;
}

.mat-expansion-panel:not([class*=mat-elevation-z]) {
  box-shadow: 0 3px 1px -2px rgba(22, 76, 123, 0.2), 0 2px 2px 0 rgba(22, 76, 123, 0.3), 0 1px 5px 0 rgba(22, 76, 123, 0.2) !important;
}

// Accordion overrides
body .mat-expansion-panel-header:hover {
  background-color: rgb(22, 76, 123) !important;
  .mat-expansion-panel-header-title,
  .mat-expansion-indicator::after {
    color: $white;
  }
}

.mat-expansion-panel-header.cdk-mouse-focused {
  background: #eee !important;
  .mat-expansion-panel-header-title,
  .mat-expansion-indicator::after {
    color: $black-70;
    font-size: $font-size-md;
  }
}

body .mat-expansion-panel-body {
  padding: 15px 0;
}

.mat-expansion-panel-header {
  display: block !important;
  background: #eee;
  // background-color: rgba(22, 76, 123, 0.9);
  // background-color: $nav-hover-color;
  // background: linear-gradient(to right, rgba(36, 112, 179, 1) 0%, rgba(35, 209, 171, 1) 100%);
  border: 1px solid $black-30;
  height: 50px;
  max-height: 50px;

  .mat-content {
    display: inline-block;
    margin-top: 15px;
  }
  .mat-expansion-indicator  {
    float: left;
    margin-top: 12px;
    margin-right: 10px;
  }
  .mat-expansion-panel-header-title,
  .mat-expansion-indicator::after {
    color: $black-70;
    font-size: $font-size-md;
  }
  &.mat-expanded {
    .mat-expansion-indicator {
      margin-top: 17px;
    }
  }
}
