.mat-menu-item, .mat-button, .mat-flat-button, .mat-icon-button, .mat-stroked-button {
  font-weight: 300;
  font-size: $base-font-size;
}

.mat-button-wrapper mat-icon {
  margin-left: -5px;
  color: $white-75;
}
