.br {
  margin: 0 !important;
}

.br-stars .br-unit {
  width: 18px;
  height: 18px;
}

.concise .br-stars .br-unit {
  width: 14px;
  height: 14px;
}

.concise .br-units {
  float: right;
}

.br-stars .br-units {
  float: right;
}
