<div class="my-container">
    <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '14px' }"></ngx-loading>
  <mat-accordion>
    <mat-expansion-panel [expanded]="true">
      <mat-expansion-panel-header>
        <mat-panel-title>
          OPTIMIZER
        </mat-panel-title>
      </mat-expansion-panel-header>

      <a (click)="synctoDb()" [ngClass]="syncenabled()"  class="waves-effect waves-light btn" style="margin: 0 0 0px 18px;"  ><i class="material-icons left">cloud</i>Publish</a>

      <h3>   Irrigated Crops</h3>
      <div class="container bottom">
        <div class="row">
        <ag-grid-angular  [ngStyle]="style"
         class="ag-theme-balham roboto-font"
        [animateRows]="true"
        [enableSorting]="false"
        [enableFilter]="true"
        [showToolPanel]="false"
        [context]="context"
        [toolPanelSuppressRowGroups]="true"
        [rowClassRules]="rowClassRules"
        [toolPanelSuppressValues]="true"
        [toolPanelSuppressPivots]="true"
        [toolPanelSuppressPivotMode]="true"
        [frameworkComponents]="frameworkcomponents"
        [singleClickEdit]="true"
        (cellEditingStopped)="rowvaluechangedirr($event)"
        [rowData]="rowDataIIR"
        (gridReady)="onGridReady($event)"
        [columnDefs]="columnDefs"
        [gridAutoHeight]=true
        [defaultColDef]="defaultColDef"
        [gridAutoHeight]=true>
        </ag-grid-angular>
        </div>
      </div>
            <br>
            <h3>    Non-Irrigated Crops</h3>
            <div class="container bottom">
              <div class="row">
              <ag-grid-angular  [ngStyle]="style"
               class="ag-theme-balham roboto-font"
              [animateRows]="true"
              [enableSorting]="false"
              [enableFilter]="true"
              [showToolPanel]="false"
              [context]="context"
              [toolPanelSuppressRowGroups]="true"
              [rowClassRules]="rowClassRules"
              [toolPanelSuppressValues]="true"
              [toolPanelSuppressPivots]="true"
              [toolPanelSuppressPivotMode]="true"
              [frameworkComponents]="frameworkcomponents"
              [singleClickEdit]="true"
              (cellEditingStopped)="rowvaluechangednir($event)"
              [rowData]="rowDataNIR"
              [gridAutoHeight]=true
              (gridReady)="onGridReady($event)"
              [columnDefs]="columnDefs"
              [defaultColDef]="defaultColDef"
              [gridAutoHeight]=true>
              </ag-grid-angular>
              </div>
            </div>
                  <br>
    </mat-expansion-panel>
    </mat-accordion>
</div>