<div class="my-container">
    <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '14px' }"></ngx-loading>
  <mat-accordion>
    <mat-expansion-panel [expanded]="true">
      <mat-expansion-panel-header>
        <mat-panel-title>
          OPTIMIZER
        </mat-panel-title>
      </mat-expansion-panel-header>

      <button (click)="synctoDb()" class="btn-unstyle" [disabled]="!syncenabled()">
        <!-- <mat-icon [style.color] = "!syncenabled()">publish</mat-icon> -->
          <a class="waves-effect waves-light btn"><i class="material-icons left">cloud</i>Publish</a>
      </button>


      <div class="container bottom">
        <div class="row">
        <ag-grid-angular  [ngStyle]="style"
         class="ag-theme-balham roboto-font"
        [animateRows]="true"
        [enableSorting]="false"
        [enableFilter]="true"
        [showToolPanel]="false"
        [context]="context"
        [toolPanelSuppressRowGroups]="true"
        [rowClassRules]="rowClassRules"
        [toolPanelSuppressValues]="true"
        [toolPanelSuppressPivots]="true"
        [toolPanelSuppressPivotMode]="true"
        [singleClickEdit]="true"
        (cellEditingStopped)="rowvaluechanged($event)"
        [rowData]="rowData"
        (gridReady)="onGridReady($event)"
        [columnDefs]="columnDefs"
        [defaultColDef]="defaultColDef"
        [gridAutoHeight]=true>
        </ag-grid-angular>
        </div>
      </div>
            <br>
    </mat-expansion-panel>
    </mat-accordion>
</div>