<div class="container bottom width-auto">

  <div class="bottom">
    <!-- <div class="row">
      <div class="col m3 cell text-left">
        <span class="font-weight-600 section-heading">Borrower Rating</span>
      </div>
      <div class="col m9">
        <div class="col m2 font-weight-600 text-right border-right">****</div>
        <div class="col m2 font-weight-600 text-right ">**</div>
        <div class="col m2 font-weight-600 text-right ">***</div>
        <div class="col m2 font-weight-600 text-right ">**</div>
        <div class="col m2 font-weight-600 text-right ">*</div>
        <div class="col m2 font-weight-600 text-right ">*****</div>
      </div>
    </div> -->
    <div class="row">
      <ng-container *ngFor="let row of data.partOne, let rowInd = index">
      <div class="col m3">
        <div class="col cell text-left" [class.font-weight-600]="rowInd===0">{{row.text}}</div>
      </div>
      <div class="col m9">
        <div class="col m2 cell text-right" *ngFor="let val of row.value, let i = index"
        [class.border-right]="i===0"
        [class.font-weight-600]="i===0"
        >
        {{val || '&nbsp;'}}
        </div>
      
      </div>
    </ng-container>


    </div>
</div>
<div class="bottom">
    <div class="row table-row">
        <ng-container *ngFor="let row of data.partTwo">
        <div class="col m3">
          <div class="cell text-left" [class.background-hightlight]="row.hightlightRow" >{{row.text}}</div>
        </div>
        <div class="col m9">
          <div class="col m2 cell text-right" *ngFor="let val of row.value, let i = index"
          [class.border-right]="i===0"
          [class.font-weight-600]="i===0"
          [class.background-hightlight]="row.hightlightRow"
          >
            <span class="float-left" *ngIf="row.isAmount">$</span> {{val || '&nbsp;'}}
          </div>
        
        </div>
      </ng-container>
  
  
      </div>


  </div>

  <div class="bottom">
      <div class="row table-row">
          <ng-container *ngFor="let row of data.partThree">
          <div class="col m3">
            <div class="cell text-left" [class.background-hightlight]="row.hightlightRow" >{{row.text}}</div>
          </div>
          <div class="col m9">
            <div class="col m2 cell text-right" *ngFor="let val of row.value, let i = index"
            [class.border-right]="i===0"
            [class.font-weight-600]="i===0"
            [class.background-hightlight]="row.hightlightRow"
            >
              <span class="float-left" *ngIf="row.isAmount">$</span> {{val || '&nbsp;'}}
            </div>
          
          </div>
        </ng-container>
    
    
        </div>
  
  
    </div>

</div>