@import "./../../../../../sass/theme/variables";

.concise {
  .material-icons {
    font-size: 16px;
  }
  .title {
    font-size: 14px;
    font-weight: 500;
    display: inline-flex;
    vertical-align: middle;
    margin-top: -2px;
    i {
      margin-top: 1px;
      margin-right: 5px;
    }
  }

  .right-align {
    flex: right;
  }
}

.section-one {
  padding-left: 10px;
  height: 100%;
  position: relative;
}

.company-info {
  padding-top: 10px;
}

.title {
  font-size: 16px;
  font-weight: 500;
}

.flex {
  .material-icons {
    margin-top: -2px;
    padding-right: 10px;
    color: #bbb;
  }
}

.extra-info {
  color: #999;
  padding-left: 35px;
}

.chart-wrapper {
  position: relative;
}

.progress-chart {
  right: -10px;
  margin-top: -10px;
  position: absolute;
  max-width: 250px;
  width: 250px;
}

.row-section {
  padding: 10px;
}
