@import "./../../../../../sass/theme/variables";

.title {
  font-size: $font-size-md;
  font-weight: 500;
}

.flex {
  .material-icons {
    margin-top: -2px;
    padding-right: 10px;
    color: #bbb;
  }
}

.extra-info {
  color: #999;
  padding-left: 25px;
}

.progress-chart {
  margin-left: 40px;
  margin-top: -30px;
}
