<div>
  <div class="right-align">
    <bar-rating [readOnly]="true" [theme]="'stars'" [(rate)]="starsCount" [max]="5"></bar-rating>
  </div>
  <div class="clearfix">
    <div class="flex">
      <i class="material-icons">
        person
      </i>
      <span class="title">Matthew West Farms, LLC</span>
    </div>
    <div class="flex">
      <i class="material-icons">
        group
      </i>
      <span class="title">West, Matthew D.</span>
    </div>
  </div>
  <div>
    <div class="col">
      <span class="extra-info">
        Loan 0037037-001
      </span><br />
      <span class="extra-info">
        Ag-Input (CPS)
      </span>
      <div class="progress-chart">
        <canvas class="progress-chart" baseChart [colors]="chartColors" [options]="chartOptions" [data]="doughnutChartData" [labels]="doughnutChartLabels"
      [chartType]="doughnutChartType"></canvas>
      </div>
    </div>
    <span class="bottom-icons">
      <i class="flaticon-wrench inline icon">
      </i>
      <i class="flaticon-multiple-users-silhouette inline icon">
      </i>
      <i class="flaticon-hipster inline icon">
      </i>
      <i class="flaticon-random inline icon">
      </i>
    </span>
  </div>
</div>
