<!-- Complete View -->
<div class="section-one row-section complete" *ngIf="viewMode == 2 || viewMode == 3">
  <div class="right-align">
    <bar-rating [readOnly]="true" [theme]="'stars'" [(rate)]="starsCount" [max]="5"></bar-rating>
  </div>
  <div class="clearfix company-info">
    <div class="flex">
      <i class="material-icons">
        person
      </i>
      <span class="title">Matthew West Farms, LLC</span>
    </div>
    <div class="flex">
      <i class="material-icons">
        group
      </i>
      <span class="title">West, Matthew D.</span>
    </div>
  </div>
  <div>
    <div class="chart-wrapper">
      <span class="extra-info">
        Loan 0037037-001
      </span><br />
      <span class="extra-info">
        Ag-Input (CPS)
      </span>
      <app-progress-chart></app-progress-chart>
    </div>
  </div>

  <app-bottom-icons></app-bottom-icons>
</div>

<!-- Essential View -->
<div class="section-one row-section essential" *ngIf="viewMode==1">
  <div class="clearfix company-info">
    <bar-rating class="right-align" [readOnly]="true" [theme]="'stars'" [(rate)]="starsCount" [max]="5"></bar-rating>
    <div class="title">
      <i class="material-icons">
        person
      </i> Matthew West Farms, LLC
    </div>
  </div>
  <div class="title">
    <i class="material-icons">
        group
      </i>
    <span class="title">West, Matthew D.</span>
  </div>
  <div>
    <div class="chart-wrapper">
      <span class="extra-info">
        Loan 0037037-001
      </span><br />
      <span class="extra-info">
        Ag-Input (CPS)
      </span>
      <div class="essential">
        <app-bottom-icons [viewMode]="viewMode"></app-bottom-icons>
      </div>
    </div>
  </div>

</div>

<!-- Concise View -->
<div class="section-one row-section concise" *ngIf="viewMode==0">
  <div class="clearfix company-info">
    <bar-rating class="right-align" [readOnly]="true" [theme]="'stars'" [(rate)]="starsCount" [max]="5"></bar-rating>
    <div class="title">
      <i class="material-icons">
        person
      </i> Matthew West Farms, LLC
    </div>
  </div>
</div>
