  <mat-accordion>
    <mat-expansion-panel [expanded]="true">
      <mat-expansion-panel-header>
        <mat-panel-title>
            Financials
        </mat-panel-title>
      </mat-expansion-panel-header>
  
      <div *ngIf="allDataFetched" class="container">
        <div class="row">
          <div class="col s12">
            <table class="bordered">
              <thead>
                <tr>
                  <th>Financials</th>
                  <th>Assets</th>
                  <th>Debt</th>
                  <th>Equity</th>
                  <th>Ratios</th>
                  <th>FICO</th>
                  <th>Rating</th>
                </tr>
              </thead>
  
              <tbody>
                
                <tr *ngFor="let row of rowData, let rowIndex=index" [ngClass]="rowIndex == rowData.length-1 ? 'background-highlight':''">
                  <td class="title">{{row.Financials}}</td>
                  <td>{{priceFormat(row.Assets)}}</td>
                  <td>{{priceFormat(row.Debt)}}</td>
                  <td>{{priceFormat(row.Equity)}}</td>
                  <td>{{row.Ratios}}</td>
                  <td>{{row.FICO}}</td>
                  <td>{{row.Rating}}</td>
               
              </tbody>
            </table>
            <br>
          </div>
        </div>
      </div>
    </mat-expansion-panel>
  </mat-accordion>