<mat-accordion>
  <mat-expansion-panel [expanded]="true">
    <mat-expansion-panel-header>
      <mat-panel-title>
        FINANCIALS
      </mat-panel-title>
    </mat-expansion-panel-header>
    
    <div class="container">
    <ag-grid-angular 
    style="width: 96%; height: 200px;" 
    class="ag-theme-balham roboto-font"
    [enableSorting]="true"
    [enableFilter]="true"
    [rowData]="rowData" 
    [getRowClass]="getRowClass"
    (gridReady)="onGridReady($event)"
    [pinnedBottomRowData]="pinnedBottomRowData"
    [columnDefs]="columnDefs">
    </ag-grid-angular>
    </div>
  </mat-expansion-panel>
  </mat-accordion>