<div class="col s6 complete">
  <span class="muted-label">
      Commitment
    </span>
  <p class="risk-return-value">
     {{ info.totalCommitment }}
     <!--  $ {{ info.totalCommitment | number: '.0-0' }} -->
  </p>
</div>
<div class="col s6 complete">
  <span class="muted-label">
      Margin
    </span>
  <p class="risk-return-value">
    <!-- {{ info.excessInsPercent | number: '.1-1' }}% -->
    {{info.excessInsPercent}}
  </p>
</div>
<div class="col s12 complete">
  <svg height="75" class="w-100">
    <!-- Gridlines -->
    <g id="grid-0"></g>
    <g id="grid-1"></g>
    <g id="grid-2"></g>
    <g id="grid-3"></g>
    <g id="grid-4"></g>
    <g id="grid-5"></g>
    <g id="grid-6"></g>
    <g id="grid-7"></g>
    <g id="grid-8"></g>
    <!-- Bars -->
    <g id="arm"></g>
    <g id="dist"></g>
    <g id="excess"></g>
    <!-- Bar Texts -->
    <text x="30" y="21" font-family="roboto" font-size="10px" fill="#fff">{{ info.armCommitment }}</text>
    <text x="130" y="21" font-family="roboto" font-size="10px" fill="#fff">{{ info.distCommitment }}</text>
    <text x="250" y="36" font-family="roboto" font-size="10px" fill="#000">{{ info.excessIns }}</text>
<!-- varun -->
    <!--   <text x="30" y="21" font-family="roboto" font-size="10px" fill="#fff">${{ info.armCommitment | number: '.0-0' }}</text>
    <text x="130" y="21" font-family="roboto" font-size="10px" fill="#fff">${{ info.distCommitment | number: '.0-0' }}</text>
    <text x="250" y="36" font-family="roboto" font-size="10px" fill="#000">${{ info.excessIns | number: '.0-0' }}</text>
   -->


    <!-- Legends -->
    <rect width="10" height="10" x="15" y="50" [ngStyle]="{'fill': armCommit}" />
    <text x="30" y="60" font-family="roboto" font-size="11px" fill="#bbb">ARM Commit</text>
    <rect width="10" height="10" x="105" y="50" [ngStyle]="{'fill': distCommit}" />
    <text x="120" y="60" font-family="roboto" font-size="11px" fill="#bbb">Dist Commit</text>
    <rect width="10" height="10" x="235" y="50" [ngStyle]="{'fill': excessIns}" />
    <text x="250" y="60" font-family="roboto" font-size="11px" fill="#bbb">Margin</text>
  </svg>
</div>
