<!-- <a class="waves-effect waves-light btn"  (click)="synctoDb()" *ngIf="allowIndividualSave" style="margin: 0 0 10px 18px;" >
		<i class="material-icons left">cloud</i>Publish</a> -->



<div class="container bottom width-auto">
	
	<app-borrower-info-form [borrowerInfo]="borrowerInfo" (onFormValueChange)="onFormValueChange($event)"></app-borrower-info-form>

	<a (click)="onAddCoBorrower()" class="waves-effect waves-light btn" style="margin: 0 0 10px 18px;" >
		<i class="material-icons left">add</i>Add Co-Borrower
	</a>
	<!-- Table -->
	<!-- <div class="row" *ngIf="mode!='create' && borrowerInfoForm && ['PRP','JNT','COP','LLC'].indexOf(borrowerInfoForm.value.Borrower_Entity_Type_Code) >=0">
		<h3>{{getTypeNameOfCB(borrowerInfoForm.value.Borrower_Entity_Type_Code)}}</h3>
		

			<div class="container bottom">
				<div class="row">
				<ag-grid-angular  [ngStyle]="style"
				class="ag-theme-balham roboto-font"
				[animateRows]="true"
				[enableSorting]="true"
				[enableFilter]="true"
				[context]="context"
				(gridSizeChanged)="onGridSizeChanged($event)"
				[frameworkComponents]="frameworkcomponents"
				[components]="components"
				[singleClickEdit]="true"
				(cellEditingStopped)="rowvaluechanged($event)"
				[rowData]="rowData" 
				(gridReady)="onGridReady($event)"
				[columnDefs]="columnDefs"
				[gridAutoHeight]=true>
				</ag-grid-angular>
				</div>
		
			  </div>  
	</div> -->

	<!-- <div class="row" *ngIf="mode!='create' && selectedAssociaionTypeCode">
		<app-association [header]="getTypeNameOfCB(selectedAssociaionTypeCode)" [currentPageName]="currentPageName" [associationTypeCode]="selectedAssociaionTypeCode"
		 [withoutChevron]="true" (onRowCountChange)="coBorrowerCountChange($event)"></app-association>
	</div> -->

	<table>
		<thead>
			<tr>
				<th>Entity</th>
				<th>Contact</th>
				<th>Location</th>
				<th>Phone</th>
				<th>Email</th>
				<th>Pref Contact</th>
				<th>Edit</th>
				<th>Delete</th>
			</tr>
		</thead>
		<tbody>
			<tr *ngFor="let coborrower of coborrowers; let index = index">
				<td>{{getBorrowerTypeName(coborrower.Borrower_Entity_Type_Code)}}</td>
				<td>{{coborrower.Borrower_First_Name}}</td>
				<td>{{coborrower.Borrower_Address}}</td>
				<td>{{coborrower.Borrower_Phone}}</td>
				<td>{{coborrower.Borrower_email}}</td>
				<td>NA</td>
				<td>
					<span>
						<i (click)="onEditCoBorrower(coborrower,index)" class="material-icons ag-grid-delete">
						  delete
						</i>
					  </span>
				</td>
				<td>
						<span>
								<i (click)="onDeleteCoborrower(coborrower,index)" class="material-icons ag-grid-delete">
								  delete
								</i>
						</span>
				</td>
			</tr>
		</tbody>
	</table>

</div>