

<h2 mat-dialog-title>Add New Crop</h2>
<div mat-dialog-content>
    <app-borrower-info-form [borrowerInfo]="coBorrowerInfo" (onFormValueChange)="onFormValueChange($event)"></app-borrower-info-form>

</div>

 <div class="alertModal modal-footer">
  <div class="mat-footer-inner">
    <button class="mat-raised-button alertifybtndone green modal-trigger" (click)="onNoClick()">
      Cancel
    </button>
    <button [disabled]="!isFormValid" class="alertifybtncancel btn-outline modal-close modal-cancel mat-raised-button"  [mat-dialog-close]="coBorrowerInfo">
      OK
    </button>
  </div>
 </div>