<div class="container bottom width-auto">

  <div class="bottom" *ngIf="data.partOne!=undefined">
    <div class="row">
      <ng-container *ngFor="let row of data.partOne, let rowInd = index">
        <div class="col m3">
          <div class="col cell text-left" [class.font-weight-600]="rowInd===0">{{row.text}}</div>
        </div>
        <div class="col m9">
          <app-cell-value [bolderFont]=true [borderRight]=true [valueType]="row.valueType" [value]="row.value" [backgroundGreen]="rowInd === data.partOne.length-1"></app-cell-value>

          <app-cell-value *ngFor="let val of row.staticValues, let i = index" [value]="val" [colorRed]="rowInd===1"></app-cell-value>

        </div>
      </ng-container>


    </div>
  </div>
  <div class="bottom" *ngIf="data.partTwo!=undefined">
    <div class="row table-row">
      <ng-container *ngFor="let row of data.partTwo, let rowInd = index">
        <div class="col m3">
          <div class="cell text-left" [class.background-highlight]="row.hightlightRow">{{row.text}}</div>
        </div>
        <div class="col m9">
          <app-cell-value [bolderFont]=true [borderRight]=true [valueType]="row.valueType" [value]="row.value" [backgroundHighlight]="row.hightlightRow"></app-cell-value>

          <app-cell-value *ngFor="let val of row.staticValues, let i = index" [value]="val" [valueType]="row.valueType" [backgroundHighlight]="row.hightlightRow"></app-cell-value>

        </div>
      </ng-container>


    </div>


  </div>

  <div class="bottom" *ngIf="data.partThree!=undefined">
    <div class="row table-row">
      <ng-container *ngFor="let row of data.partThree, let rowInd= index">
        <div class="col m3">
          <div class="cell text-left" [class.background-highlight]="row.hightlightRow">{{row.text}}</div>
        </div>
        <div class="col m9">

          <app-cell-value [bolderFont]=true [borderRight]=true [valueType]="row.valueType" [value]="row.value" [backgroundHighlight]="row.hightlightRow"></app-cell-value>

          <app-cell-value *ngFor="let val of row.staticValues, let i = index" [value]="val" [valueType]="row.valueType" [backgroundHighlight]="row.hightlightRow"></app-cell-value>

        </div>
      </ng-container>
      <div style="margin-top:5px">
        <div class="col m2 cell text-left font-weight-600" style="margin-top:15px">
          Ag-Pro Requested Credit $
        </div>
        <div class="input-field col m3">
          <mat-form-field>
            <input matInput type="number" [(ngModel)]="agProReqCredit" name="AG_PRO_Requested_Credit" (blur)="updateLocalStorage()">
          </mat-form-field>
        </div>
      </div>

    </div>


  </div>

</div>