
  .bottom{
    padding-bottom: 20px
  }
  
  .width-auto{
      width: auto !important;
  }

  .cell{
    padding: 5px 5px;

}


.text-right{
    text-align: right;
}

.text-left{
  text-align: left;
}
.table-row{
  margin-bottom: 0;
}
.float-left{
  float: left;
}

.float-right{
  float: right;
}
.background-highlight{
  background-color: lightblue;
  font-weight: 600;
}

.font-weight-600{
  font-weight: 600;
}


.column-header{
  font-size: 11px;
  text-decoration: underline;
}

.section-heading{
  font-size: 16px;
}

.border-right{
    border-right: 1px solid;
}
.background-green{
  background-color: lightgreen;
}
.color-red{
  color: red;
}
