<mat-accordion>
  <mat-expansion-panel  [expanded]="!!(rowData && rowData.length)">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Additional Collateral
      </mat-panel-title>
    </mat-expansion-panel-header>

    <div class="container bottom">
      <div class="row" >
        <ag-grid-angular
        class="ag-theme-balham roboto-font"
        [animateRows]="true" [enableSorting]="false"
        [enableFilter]="true"
        [context]="context"
        (gridSizeChanged)="onGridSizeChanged($event)"
        [frameworkComponents]="frameworkcomponents"
        [components]="components"
        [singleClickEdit]="true"
        suppressColumnVirtualisation=true
        (cellEditingStopped)="rowvaluechanged($event)"
        [rowData]="rowData"
        (gridReady)="onGridReady($event)"
        [columnDefs]="columnDefs"
        [defaultColDef]="defaultColDef"
        [gridAutoHeight]=true>
        </ag-grid-angular>
      </div>
      <a (click)="addrow()" class="waves-effect waves-light btn"><i class="material-icons left">add</i>Add</a>
    </div>
  </mat-expansion-panel>
</mat-accordion>
