
<div class="basic-container">

  <mat-accordion>
    <mat-expansion-panel [expanded]="true">
      <mat-expansion-panel-header>
        <mat-panel-title>
          Farms
        </mat-panel-title>
      </mat-expansion-panel-header>

      <a (click)="synctoDb()" [ngClass]="syncenabled()"  class="waves-effect waves-light btn" style="margin: 0 0 10px 18px;"  ><i class="material-icons left">cloud</i>Publish</a>

      <button class="btn-unstyle" (click)="addrow()">
        <a class="waves-effect waves-light btn"><i class="material-icons left">add</i>Add</a>
      </button>

      <div class="container bottom">
        <div class="row">
          <ag-grid-angular
            style="width: 96%; height: 250px;"
            class="ag-theme-balham roboto-font"
            [context]="context"
            [frameworkComponents]="frameworkcomponents"
            [components]="components"
            (rowEditingStopped)="rowvaluechanged($event)"
            [rowData]="rowData"
            [editType]="editType"
            (gridReady)="onGridReady($event)"
            [columnDefs]="columnDefs"
            [gridAutoHeight]=true>
          </ag-grid-angular>
        </div>
      </div>
      <br>
    </mat-expansion-panel>
  </mat-accordion>

</div>
