<!--<div class="feed-header">
  <mat-icon (click)="drawer.toggle()" class="pre-arrow">{{notificationIcon}}</mat-icon>
</div> -->

<!--<mat-drawer-container  >
(opened)="notificationIcon = 'arrow_forward_ios'"
    (closed)="notificationIcon = 'lightbulb_outline'"  
-->

<mat-sidenav id="notificationFeeds" #notificationFeeds position="end" [mode]="'side'" class="feeds-wrapper">


  <div class="feeds-inner-wrapper">

    <div class="feed-container">
      <div class="feed-top">
        <mat-icon class="feed-chat-icon">chat</mat-icon>
        <span class="feed-title">Mark Branch, Billy Moore, John Kruse...</span>
      </div>
      <div class="feed-content">
        <mat-icon class="feed-user-icon">account_circle</mat-icon>
        <span class="feed-title">Mark Branch</span>
        <p>This is just a test message from Mark Branch. Do you think this message length is enough to test the container size?</p>
      </div>
    </div>

    <div class="feed-container">
      <div class="feed-top">
        <mat-icon class="feed-thread-icon">signal_cellular_alt</mat-icon>
        <span class="feed-title">Outstanding Funding by Location</span>
      </div>
      <div class="feed-content">
        <mat-icon class="feed-user-icon">account_circle</mat-icon>
        <span class="feed-title">Mark Branch</span>
        <p>This is just a test message from Mark Branch. Do you think this message length is enough to test the container size?</p>
      </div>
    </div>

    <div class="feed-container">
      <div class="feed-top">
        <mat-icon class="feed-chat-icon">chat</mat-icon>
        <span class="feed-title">Mark Branch, Billy Moore, John Kruse...</span>
      </div>
      <div class="feed-content">
        <mat-icon class="feed-user-icon">account_circle</mat-icon>
        <span class="feed-title">Mark Branch</span>
        <p>This is just a test message from Mark Branch. Do you think this message length is enough to test the container size?</p>
      </div>
    </div>

    <div class="feed-container">
      <div class="feed-top">
        <mat-icon class="feed-thread-icon">signal_cellular_alt</mat-icon>
        <span class="feed-title">Outstanding Funding by Location</span>
      </div>
      <div class="feed-content">
        <mat-icon class="feed-user-icon">account_circle</mat-icon>
        <span class="feed-title">Mark Branch</span>
        <p>This is just a test message from Mark Branch. Do you think this message length is enough to test the container size?</p>
      </div>
    </div>

    <div class="feed-container">
      <div class="feed-top">
        <mat-icon class="feed-chat-icon">chat</mat-icon>
        <span class="feed-title">Mark Branch, Billy Moore, John Kruse...</span>
      </div>
      <div class="feed-content">
        <mat-icon class="feed-user-icon">account_circle</mat-icon>
        <span class="feed-title">Mark Branch</span>
        <p>This is just a test message from Mark Branch. Do you think this message length is enough to test the container size?</p>
      </div>
    </div>

    <div class="feed-container">
      <div class="feed-top">
        <mat-icon class="feed-thread-icon">signal_cellular_alt</mat-icon>
        <span class="feed-title">Outstanding Funding by Location</span>
      </div>
      <div class="feed-content">
        <mat-icon class="feed-user-icon">account_circle</mat-icon>
        <span class="feed-title">Mark Branch</span>
        <p>This is just a test message from Mark Branch. Do you think this message length is enough to test the container size?</p>
      </div>
    </div>

    <div class="feed-container">
      <div class="feed-top">
        <mat-icon class="feed-chat-icon">chat</mat-icon>
        <span class="feed-title">Mark Branch, Billy Moore, John Kruse...</span>
      </div>
      <div class="feed-content">
        <mat-icon class="feed-user-icon">account_circle</mat-icon>
        <span class="feed-title">Mark Branch</span>
        <p>This is just a test message from Mark Branch. Do you think this message length is enough to test the container size?</p>
      </div>
    </div>

    <div class="feed-container">
      <div class="feed-top">
        <mat-icon class="feed-thread-icon">signal_cellular_alt</mat-icon>
        <span class="feed-title">Outstanding Funding by Location</span>
      </div>
      <div class="feed-content">
        <mat-icon class="feed-user-icon">account_circle</mat-icon>
        <span class="feed-title">Mark Branch</span>
        <p>This is just a test message from Mark Branch. Do you think this message length is enough to test the container size?</p>
      </div>
    </div>

    <div class="feed-container">
      <div class="feed-top">
        <mat-icon class="feed-chat-icon">chat</mat-icon>
        <span class="feed-title">Mark Branch, Billy Moore, John Kruse...</span>
      </div>
      <div class="feed-content">
        <mat-icon class="feed-user-icon">account_circle</mat-icon>
        <span class="feed-title">Mark Branch</span>
        <p>This is just a test message from Mark Branch. Do you think this message length is enough to test the container size?</p>
      </div>
    </div>

    <div class="feed-container">
      <div class="feed-top">
        <mat-icon class="feed-thread-icon">signal_cellular_alt</mat-icon>
        <span class="feed-title">Outstanding Funding by Location</span>
      </div>
      <div class="feed-content">
        <mat-icon class="feed-user-icon">account_circle</mat-icon>
        <span class="feed-title">Mark Branch</span>
        <p>This is just a test message from Mark Branch. Do you think this message length is enough to test the container size?</p>
      </div>
    </div>
  </div>

  <!-- </div> -->
</mat-sidenav>

<!--</mat-drawer-container  >-->
