table {
    width: 97%;
}
tfoot{
    background: lightgreen
}
input{
    width:100px
}

.ag-theme-balham .ag-header-cell-label{
    display: table !important;
}
.rightaligned [ref="eLabel"]{
    float: right !important;
}

.rightaligned [ref="eText"]{
    float: right !important;
}
.rightaligned{
    text-align: end;
    padding-right: 11px;

}

