<div class="row-section">
  <div class="col s6">
    <span class="muted-label">
      Risk Cushion
    </span>
    <p class="risk-return-value">
      <span>$ 241,561</span>
      <span>128.1%</span>
    </p>
  </div>
  <div class="col s6">
    <span class="muted-label">
      Return
    </span>
    <p class="risk-return-value">
      10.5%
    </p>
  </div>
</div>
<div class="row-section">
  <div class="col s6">
    <span class="muted-label">
      Commitment
    </span>
    <p class="risk-return-value">
      $ 403,256
    </p>
  </div>
  <div class="col s6">
    <span class="muted-label">
      Excess Ins
    </span>
    <p class="risk-return-value">
      77.6%
    </p>
  </div>
</div>
