<div class="basic-container">
  <mat-accordion>
    <mat-expansion-panel [expanded]="false">
      <mat-expansion-panel-header>
        <mat-panel-title>
          Balancesheet and other data
        </mat-panel-title>
      </mat-expansion-panel-header>

      <div class="row padding stretch-items">
        <div class="col s12 m5 border">

         <app-finance-stats></app-finance-stats>

        </div>
        <div class="col s12 m3 border">
          <app-exceptions [exceptionList]="exceptionList"></app-exceptions>
        </div>
        <div class="col s12 m4 border">
          <app-conditions [conditionList]="conditionList"></app-conditions>
        </div>

      </div>


    </mat-expansion-panel>
  </mat-accordion>
</div>

<div class="basic-container">
  <mat-accordion>
    <mat-expansion-panel [expanded]="true">
      <mat-expansion-panel-header>
        <mat-panel-title>
          Collateral Report
        </mat-panel-title>
      </mat-expansion-panel-header>
 
         <app-collateral-report></app-collateral-report>
    </mat-expansion-panel>
  </mat-accordion>
</div>

<div class="basic-container">
    <mat-accordion>
      <mat-expansion-panel [expanded]="true">
        <mat-expansion-panel-header>
          <mat-panel-title>
            Loan Crop Units
          </mat-panel-title>
        </mat-expansion-panel-header>
   
           <app-cropunitrecords></app-cropunitrecords>
      </mat-expansion-panel>
    </mat-accordion>
  </div>