
  <mat-accordion>
    <mat-expansion-panel [expanded]="true">
      <mat-expansion-panel-header>
        <mat-panel-title>
          REBATOR
        </mat-panel-title>
      </mat-expansion-panel-header>
  
      <button (click)="synctoDb()" [disabled]="!syncenabled()"  mat-icon-button>
        <mat-icon [style.color] = "!syncenabled()">publish</mat-icon>
      </button>
  
      <button (click)="addrow()" mat-raised-button color="primary" >Add </button>
        
      <div class="container bottom">
        <div class="row">
        <ag-grid-angular  [ngStyle]="style"
        class="ag-theme-balham roboto-font"
        [animateRows]="true"
        [enableSorting]="true"
        [enableFilter]="true"
        [context]="context"
        [showToolPanel]="true"
        (gridSizeChanged)="onGridSizeChanged($event)"
        [frameworkComponents]="frameworkcomponents"
        [components]="components"
        [singleClickEdit]="true"
        [defaultColDef]="defaultColDef"
        [rowGroupPanelShow]="true"
        (cellEditingStopped)="rowvaluechanged($event)"
        [rowData]="rowData" 
        (gridReady)="onGridReady($event)"
        [columnDefs]="columnDefs"
        >
        </ag-grid-angular>
        </div>
      </div>
            <br>
    </mat-expansion-panel>
    </mat-accordion>