<button (click)="synctoDb()" class="btn-unstyle">
  <!-- <mat-icon [style.color] = "!syncenabled() ? 'light-gray':'green'" >publish</mat-icon> -->
  <a  class="waves-effect waves-light btn"><i class="material-icons left">cloud</i>Publish</a>
 </button>
 
      <div class="container bottom">
        <div class="row">
          <ag-grid-angular 
            [ngStyle]="style" class="ag-theme-balham roboto-font" 
            [animateRows]="true" 
            [enableSorting]="true" 
            [enableFilter]="true"
            [context]="context" 
            (gridSizeChanged)="onGridSizeChanged($event)" 
            [rowData]="rowData" 
            (gridReady)="onGridReady($event)"
            [columnDefs]="columnDefs" 
            [components]="components"
            (cellEditingStopped)="rowvaluechanged($event)"
            >
          </ag-grid-angular>
        </div>
      </div>
  