<div class="profile_page_wrapper">
  <div class="profile_page_content_wrapper has_sidebar">
    <!-- Sidebar -->
    <div class="sidebarHolder">
      <div class="sidebarWrap">
        <div class="sidebarContent">
          <div class="SectionSidebar_nav">
            <ul class="side-nav">
              <li>
                <a (click)="gotosummary()">
                  <h3>
                    <b>SUMMARY</b>
                  </h3>
                </a>
              </li>
              <li>
                <a (click)="gotoborrower()">
                  <h3>
                    <b>BORROWER</b>
                  </h3>
                </a>
              </li>
              <li>
                <a (click)="gotocrop()">
                  <h3>
                    <b>CROP</b>
                  </h3>
                </a>
              </li>
              <li>
                <a (click)="gotofarm()">
                  <h3>
                    <b>FARM</b>
                  </h3>
                </a>
              </li>

            </ul>
          </div>
        </div>
      </div>
    </div>

    <div class="pageContent">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>