
<div class="basic-container">

    <mat-accordion>
    <mat-expansion-panel [expanded]="true">
      <mat-expansion-panel-header>
        <mat-panel-title>
            Budget : {{budgetobject.Crop}} ( {{ budgetobject.CropYield||0 }} ac)
        </mat-panel-title>
      </mat-expansion-panel-header>  
        
            <div class="container bottom">
              <div class="row">
              <ag-grid-angular 
              style="width: 93%; height: 250px;" 
              class="ag-theme-balham"
              [context]="context"
              [frameworkComponents]="frameworkcomponents"
              [components]="components"
              (rowEditingStopped)="rowvaluechanged($event)"
              [rowData]="rowData" 
              [editType]="editType"
              (gridReady)="onGridReady($event)"
              [columnDefs]="columnDefs"
              [getRowStyle]="getRowStyle"
              [pinnedBottomRowData]="pinnedBottomRowData">
              </ag-grid-angular>
              </div>
            </div>
            <br>
    </mat-expansion-panel>
    </mat-accordion>
   
  </div>