<div class="col s6" *ngIf="viewMode!=0">
  <span class="muted-label">
      Risk Cushion
    </span>
  <p class="risk-return-value">
    <span>$ {{ info.riskCushionAmount | number: '2.' }}</span>
    <span>{{ info.riskCushionPercent }}%</span>
  </p>
</div>
<div class="col s6" *ngIf="viewMode!=0">
  <span class="muted-label">
      Return
    </span>
  <p class="risk-return-value">
    {{ info.returnPercent }}%
  </p>
</div>

<div class="col s12" [hidden]="viewMode==0">
  <svg height="50" class="w-100">
    <g id="blackDiamond"></g>
    <g id="redDiamond"></g>
    <g id="risk">
    </g>
    <g id="cushion">
    </g>
    <g id="returnFirst">
    </g>
    <g id="returnSecond">
    </g>
  </svg>
</div>

<div class="col s6 concise" *ngIf="viewMode==0">
  <span class="muted-label">
      Risk Cushion
    </span>
  <span class="risk-return-value">
    <span>{{ info.riskCushionPercent }}%</span>
  </span>
</div>
<div class="col s6"  *ngIf="viewMode==0">
  <span class="muted-label">
      Return
    </span>
  <span class="risk-return-value">
    {{ info.returnPercent }}%
  </span>
</div>
