<div class="basic-container">
  <span class="page-title"> Create Loan</span>
 


  <h3>Farmer</h3>
  <app-farmer-info [allowIndividualSave]="false" [mode]="'create'"  (onFormValueChange)="onFarmerFormValueChange($event)"></app-farmer-info>

  <h3>Borrower</h3>
  <mat-checkbox [(ngModel)]="useFarmer" (ngModelChange)="useFarmerChange($event)">Use Farmer Information</mat-checkbox>
  <app-borrower-info-form [borrowerInfo]="borrowerInfo" (onFormValueChange)="onBorrowerFormValueChange($event)"></app-borrower-info-form> 

    <a class="waves-effect waves-light btn" (click)="onSave($event)" style="margin-bottom: 50px">Save and Continue</a>

  <br/>
</div>
