td,th{
    padding: 10px !important;
    display: table-cell;
    text-align: left;
    vertical-align: middle;
    border-radius: 2px;
    font-size: smaller !important;
    overflow: auto !important;
}
