.header-label, .header-value {
  font-weight: bold;
}

.header-label {
  min-width: 75px;
  display: inline-block;
}

.budget-doughnut {
  width: 95%;
  margin: 0 auto;
}

.row-section {
  padding: 10px;
}
