@import "./../../../../../sass/theme/variables";

.header-label, .header-value {
  font-weight: bold;
}

.header-label {
  min-width: 75px;
  display: inline-block;
}

.budget-doughnut {
  width: 95%;
  max-width: 350px;
  margin: 0 auto;
}

.row-section {
  padding: 10px;
  position: relative;
  height: 100%;
}

.concise {
  padding: 15px;
  position: relative;
}

