@import "./../../../sass/theme/variables";

#flowchart {
    width: 100%;
    min-width: 500px;

    text {
      fill: #666;
    }

    #number {
      text {
        fill: #fff;
        font-size: 8px;
      }
    }

    .flaticon-svg {
      width: 20px;
      height: 20px;
    }

    .header {
      fill-rule: evenodd;
      clip-rule: evenodd;
      fill: $primary-color;
      stroke: #eee;
      stroke-width: 1;
      stroke-linejoin: round;
      stroke-miterlimit: 10;
    }

    .header-text {
      fill: #fff;
      font-size: $font-size-sm;
    }
}

.st0 {
    fill: #F2F2F2;
}

.grey {
  fill: #666;
}

.st1 {
    fill: #FFFFFF;
}

.st2 {
    fill: none;
    stroke: #7F7F7F;
    stroke-width: 1.5;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-miterlimit: 10;
}

.st3 {
    fill: none;
    stroke: #A6A6A6;
    stroke-miterlimit: 10;
}

.st4 {
    fill: #A6A6A6;
}

.st5 {
    fill: none;
    stroke: #A6A6A6;
    stroke-width: 3;
    stroke-miterlimit: 10;
}

.st6 {
    // fill: #D9D9D9;
    fill: #eee;
}

.st7 {
    // fill: #7F7F7F;
    fill: #333;
}

.st8 {
    fill: #82BC4A;
}

.st10 {
    font-size: 10px;
}

.st11 {
    fill: #0070C0;
}

.st12 {
    fill: #ED7D31;
}

.st13 {
    fill: #548235;
}

.st14 {
    fill: #FF0000;
}

.st15 {
    fill: #FFC000;
}

.st16 {
    fill: #1F4E79;
}

.st17 {
    fill-rule: evenodd;
    clip-rule: evenodd;
    fill: #DAE3F3;
    stroke: #BFBFBF;
    stroke-width: 2;
    stroke-linejoin: round;
    stroke-miterlimit: 10;
}

.st18 {
    fill: #2E75B6;
}

.st19 {
    // font-family:'Calibri', Arial, sans-serif;
    font-weight: bold;
    font-size: 12px;
}

.st20 {
    text-anchor: middle;
}
