<ng-container *ngFor="let row of rowTable, let rowInd = index">
    <div class="col m3">
      <div class="col cell text-left">{{row.text}}</div>
    </div>
    <div class="col m9">
      <app-cell-value [bolderFont]=true [borderRight]=true [valueType]="row.valueType" [value]="row.value && row.value.toFixed(2)"></app-cell-value>

      <app-cell-value *ngFor="let val of row.staticValues, let i = index" [value]="isNumeric(val) ? val.toFixed(2) : val" ></app-cell-value>
      <app-cell-value [backgroundGreen]="row.rating >= 100" [backgroundLightGreen]="row.rating >= 50 && row.rating < 100" [backgroundYellow]="row.rating < 50" [value]="row.rating && row.rating.toFixed(1)" ></app-cell-value>
      <app-cell-value  [value]="row.possible && row.possible.toFixed(2)" ></app-cell-value>

    </div>
  </ng-container>