.mat-card {
    padding: 0px 15px 0px 15px !important;
    height: 50px;
    // background: #164c7b;
    // color: white;
}
td, th{
    padding: 0px !important;
}

.mat-select-value{
    color: white !important;
}

.mat-select-arrow{
    color: white !important;
}