<div class="right-sidebar" [ngClass]="{'expanded': isRightbarExpanded}">
  <div class="text-right">
    <i class="material-icons warning">
      warning
    </i>
    <i class="flaticon-hipster inline icon">
    </i>
  </div>
  <app-media-article [icon]="'forum'" [text]="'Billy Moore, Brad Terral, John Kruse...'"></app-media-article>
  <app-user-article [title]="'Brad Terral'" [text]="'way to put many purples without orange??'" [date]="'May 10, 8:35 PM'"></app-user-article>
  <app-media-article [icon]="'bar_chart'" [text]="'Outstanding Function By Location'"></app-media-article>
  <app-user-article [title]="'Mark Branch'" [text]="'Thanks'" [date]="'April 30, 9:25 PM'"></app-user-article>

  <app-media-article [icon]="'forum'" [text]="'Billy Moore, Brad Terral, John Kruse...'"></app-media-article>
  <app-user-article [title]="'Brad Terral'" [text]="'way to put many purples without orange??'" [date]="'May 10, 8:35 PM'"></app-user-article>
  <app-media-article [icon]="'bar_chart'" [text]="'Outstanding Function By Location'"></app-media-article>
  <app-user-article [title]="'Mark Branch'" [text]="'Thanks'" [date]="'April 30, 9:25 PM'"></app-user-article>

  <app-media-article [icon]="'forum'" [text]="'Billy Moore, Brad Terral, John Kruse...'"></app-media-article>
  <app-user-article [title]="'Brad Terral'" [text]="'way to put many purples without orange??'" [date]="'May 10, 8:35 PM'"></app-user-article>
  <app-media-article [icon]="'bar_chart'" [text]="'Outstanding Function By Location'"></app-media-article>
  <app-user-article [title]="'Mark Branch'" [text]="'Thanks'" [date]="'April 30, 9:25 PM'"></app-user-article>

  <app-media-article [icon]="'forum'" [text]="'Billy Moore, Brad Terral, John Kruse...'"></app-media-article>
  <app-user-article [title]="'Brad Terral'" [text]="'way to put many purples without orange??'" [date]="'May 10, 8:35 PM'"></app-user-article>
  <app-media-article [icon]="'bar_chart'" [text]="'Outstanding Function By Location'"></app-media-article>
  <app-user-article [title]="'Mark Branch'" [text]="'Thanks'" [date]="'April 30, 9:25 PM'"></app-user-article>

  <app-media-article [icon]="'forum'" [text]="'Billy Moore, Brad Terral, John Kruse...'"></app-media-article>
  <app-user-article [title]="'Brad Terral'" [text]="'way to put many purples without orange??'" [date]="'May 10, 8:35 PM'"></app-user-article>
  <app-media-article [icon]="'bar_chart'" [text]="'Outstanding Function By Location'"></app-media-article>
  <app-user-article [title]="'Mark Branch'" [text]="'Thanks'" [date]="'April 30, 9:25 PM'"></app-user-article>
</div>
