<div class="basic-container">


  <div class="page-header">
      <span class="text">Insurance</span>
      <app-btn-publish (publishClicked)="synctoDb()" [currentPageName]="currentPageName"></app-btn-publish>
  </div>
  <app-association [header]="'Agent'" [associationTypeCode]="'AGT'" [currentPageName]="currentPageName"></app-association>
  <app-association [header]="'Agency'" [associationTypeCode]="'AGY'" [currentPageName]="currentPageName"></app-association>
  <app-association [header]="'AIP'" [associationTypeCode]="'AIP'" [currentPageName]="currentPageName"></app-association>
  <app-policies></app-policies>
  <app-aph></app-aph>

  <!-- To BE Deleted -->
  <!-- <app-farms-info></app-farms-info>
  <app-crop-yield-info></app-crop-yield-info> -->

  
</div>
