<!-- Start Top Nav Bar -->
<!-- Start Application Header -->
<header class="webApp_header top_NavBar sidebar-is-expanded" id="arm-main-header">
  <nav>
    <div class="navbar-wrapper">
      <nav class="header-nav">
        <div class="nav-wrapper">
          <mat-toolbar color="primary" class="arm-menu-bar">
            <span class="navLogo min-logo" id="navlogo-min" *ngIf="!isExpanded" (mouseover)="toggleSideBar($event)">
              <a href="" class="navIcons">
                <img src="assets/images/lendalogomin.png" class="logo" alt="Lenda Logo">
              </a>
            </span>
            <span class="navLogo" *ngIf="isExpanded" id="navlogo-main">
              <a href="/home/loans" class="navIcons">
                <img src="assets/images/lendalogo.png" class="logo" alt="Lenda Logo">
              </a>
              <button class="close-menu" [hidden]="isExpanded" mat-icon-button (click)="toggleSideBar($event)">
                <mat-icon>chevron_left</mat-icon>
              </button>
            </span>
            <span class="ml-25 input-group-flat search-box">
              <div class="search">
                <mat-icon>search</mat-icon>
                <input class="input-flat-form-control" type="text" placeholder="Search">
              </div>
            </span>
              <!-- <span class="showdetails">
              DB : {{Databasename}} <br>
              API : {{apiurl}} <br>
              Git Version : {{Git}}
            </span> -->
            <div class="nav-parent">
              <span class="nav-item">
                  <button mat-button [matMenuTriggerFor]="menu" primary>List
                    <mat-icon>arrow_drop_down</mat-icon>
                  </button>
                  <mat-menu #menu="matMenu">
                    <button mat-menu-item>
                      <a [routerLink]="['/home/loanoverview/1/summary']">Summary</a>
                    </button>
                    <button mat-menu-item>
                      <a [routerLink]="['/home/admin']">Admin</a>
                    </button>
                    <button mat-menu-item>
                      <a [routerLink]="['/home/createloan']">Create Loan</a>
                    </button>
                  </mat-menu>
              </span>
              <span class="nav-item">
                <button mat-button [matMenuTriggerFor]="menu2" primary>Tools
                  <mat-icon>arrow_drop_down</mat-icon>
                </button>
                <mat-menu #menu2="matMenu">
                  <button mat-menu-item>
                    <a [routerLink]="['/home/Loanobjectpreview']">Preview Loan Object</a>
                  </button>
                  <button mat-menu-item>
                    <a (click)="ClearLocalstorage()">Clear Local Storage</a>
                  </button>
                  <button mat-menu-item>
                    <a [routerLink]="['/home/admin/namingconvention']">Naming Conventions</a>
                  </button>
                </mat-menu>
              </span>
              <!-- Leaf node buttons here -->
              <span class="nav-item">
                <button mat-button [matMenuTriggerFor]="menu3">Admin
                  <mat-icon>arrow_drop_down</mat-icon>
                </button>
                <mat-menu #menu3="matMenu">
                  <button mat-menu-item>
                    <a>Users</a>
                  </button>
                  <button mat-menu-item>
                    <a>Support</a>
                  </button>
                  <button mat-menu-item>
                    <a>Logs</a>
                  </button>
                  <button mat-menu-item>
                    <a>System Notification</a>
                  </button>
                </mat-menu>
              </span>

              &nbsp;

              <span class="nav-item logged-in-menu">
                <button class="logged-in-user-initial" mat-button [matMenuTriggerFor]="menu4" class="btnT">T</button>
                <mat-icon [matMenuTriggerFor]="menu4">arrow_drop_down</mat-icon>
                <mat-menu #menu4="matMenu">
                  <button mat-menu-item>
                    <a>Users</a>
                  </button>
                  <button mat-menu-item>
                    <a>Support</a>
                  </button>
                  <button mat-menu-item>
                    <a>Logs</a>
                  </button>
                  <button mat-menu-item>
                    <a>System Notification</a>
                  </button>
                </mat-menu>
              </span>

              <span>
                  <i [style.visibility]="decideShow" id="decide" class="fa-lightbulb">
                  <mat-icon>lightbulb_outline</mat-icon> &nbsp; &nbsp;Decide</i>  &nbsp;
                  <mat-icon (click)="toggleRightSidenav()" class="pre-arrow">{{icon}}</mat-icon>
              </span>
            </div>
          </mat-toolbar>
        </div>
      </nav>

    </div>
  </nav>
</header>

<!-- End Application Header -->
