<mat-sidenav #leftSidenav class="arm-sidenav" [ngClass]="{'expanded': isExpanded}" id="arm-sidenav" [mode]="'over'" opened="true">
  <mat-nav-list class="arm-sidenav-main">
    <mat-list-item routerLinkActive="active" [routerLink]="['/home/loanoverview/'+loanid+'/summary']">
      <mat-icon mat-list-icon><i class="flaticon flaticon-menu"></i></mat-icon>
      <p matLine>Summary</p>
      <i *ngIf="isSyncRequired('summary')" class="material-icons">save</i>
    </mat-list-item>
    <mat-list-item routerLinkActive="active" [routerLink]="['/home/loanoverview/'+loanid+'/borrower']">
      <mat-icon mat-list-icon><i class="flaticon flaticon-user"></i></mat-icon>
      <p matLine>Borrower</p>
    </mat-list-item>
    <mat-list-item routerLinkActive="active" [routerLink]="['/home/loanoverview/'+loanid+'/crop']">
      <mat-icon mat-list-icon><i class="flaticon flaticon-plant"></i></mat-icon>
      <p matLine>Crop</p>
    </mat-list-item>
    <mat-list-item routerLinkActive="active" [routerLink]="['/home/loanoverview/'+loanid+'/farm']">
      <mat-icon mat-list-icon><i class="flaticon flaticon-tractor"></i></mat-icon>
      <p matLine>Farm</p>
    </mat-list-item>
    <mat-list-item routerLinkActive="active" [routerLink]="['/home/loanoverview/'+loanid+'/insurance']">
      <mat-icon mat-list-icon><i class="flaticon flaticon-umbrella"></i></mat-icon>
      <p matLine>Insurance</p>
    </mat-list-item>
    <mat-list-item routerLinkActive="active" [routerLink]="['/home/loanoverview/'+loanid+'/budget']">
      <mat-icon mat-list-icon><i class="flaticon flaticon-calculator"></i></mat-icon>
      <p matLine>Budget</p>
    </mat-list-item>
    <mat-list-item routerLinkActive="active" [routerLink]="['/home/loanoverview/'+loanid+'/optimizer']">
      <mat-icon mat-list-icon><i class="flaticon flaticon-gear"></i></mat-icon>
      <p matLine>Optimizer</p>
    </mat-list-item>
    <mat-list-item routerLinkActive="active" [routerLink]="['/home/loanoverview/'+loanid+'/collateral']">
      <mat-icon mat-list-icon><i class="flaticon flaticon-link"></i></mat-icon>
      <p matLine>Collateral</p>
      <i *ngIf="isSyncRequired('collateral')" class="save-icon material-icons">save</i>
    </mat-list-item>
    <mat-list-item routerLinkActive="active" [routerLink]="['/home/loanoverview/'+loanid+'/committee']">
      <mat-icon mat-list-icon><i class="flaticon flaticon-group"></i></mat-icon>
      <p matLine>Committeee</p>
    </mat-list-item>
    <mat-list-item routerLinkActive="active" [routerLink]="['/home/loanoverview/'+loanid+'/closing']">
      <mat-icon mat-list-icon><i class="flaticon flaticon-checklist"></i></mat-icon>
      <p matLine>Closing</p>
    </mat-list-item>
    <mat-list-item routerLinkActive="active" [routerLink]="['/home/loanoverview/'+loanid+'/preferences']">
      <mat-icon mat-list-icon><i class="flaticon flaticon-preferences"></i></mat-icon>
      <p matLine>My Preferences</p>
    </mat-list-item>
    <mat-list-item routerLinkActive="active" [routerLink]="['/home/loanoverview/'+loanid+'/favorites']">
      <mat-icon mat-list-icon><i class="flaticon flaticon-star"></i></mat-icon>
      <p matLine>Favorites</p>
    </mat-list-item>
    <mat-list-item routerLinkActive="active" [routerLink]="['/home/loanoverview/'+loanid+'/flowchart']">
      <mat-icon mat-list-icon><i class="flaticon flaticon-flowchart"></i></mat-icon>
      <p matLine>Flowchart</p>
    </mat-list-item>
    <mat-list-item routerLinkActive="active" [routerLink]="['/home/loanoverview/'+loanid+'/work-in-progress']">
      <mat-icon mat-list-icon><i class="flaticon flaticon-team"></i></mat-icon>
      <p matLine>Work In Progress</p>
    </mat-list-item>
    <mat-list-item routerLinkActive="active" [routerLink]="['/home/loanoverview/'+loanid+'/custom-entry']">
      <mat-icon mat-list-icon><i class="flaticon flaticon-gear"></i></mat-icon>
      <p matLine>Custom Entry</p>
    </mat-list-item>
    <br>
    <mat-list-item routerLinkActive="active" class="arm-recent-record normalize" *ngIf="isExpanded">
      <p matLine>Walter Kluwer</p>
    </mat-list-item>
    <mat-list-item routerLinkActive="active" class="arm-recent-record unfeatured" *ngIf="isExpanded">
      <p matLine>Knowledge Lake</p>
    </mat-list-item>
    <mat-list-item routerLinkActive="active" class="arm-recent-record unfeatured" *ngIf="isExpanded">
      <p matLine>Nortridge</p>
    </mat-list-item>
    <mat-list-item routerLinkActive="active" class="arm-recent-record unfeatured" *ngIf="isExpanded">
      <p matLine>Net Suite</p>
    </mat-list-item>
    <mat-list-item routerLinkActive="active" class="arm-recent-record unfeatured" *ngIf="isExpanded">
      <p matLine>Domo</p>
    </mat-list-item>
    <mat-list-item routerLinkActive="active" class="arm-recent-record unfeatured" *ngIf="isExpanded">
      <p matLine>SharePoint</p>
    </mat-list-item>
  </mat-nav-list>
</mat-sidenav>
