<div class="content-section">
  <span *ngIf="displayHeader" class="font-weight-600 section-heading">Exceptions</span>

  <div *ngFor="let exception of localExceptionLogs" class="row">
    <div [class.high-severity-text]="exception.level==2" [class.low-severity-text]="exception.level==1" style="display: flex">
      <!-- <span >
          <i class="material-icons">
              warning
            </i> 
      </span> -->
         {{exception.message}}
    </div>
    <div class="input-field col m4" style="margin-left: 20px" *ngIf="askForJudgement">
      <mat-form-field class="example-full-width">
          <textarea matInput placeholder="Enter Judgement"></textarea>
      </mat-form-field>
    </div>
    
  </div>

</div>