body {
  font-family: $base-font-family;
  font-size: $base-font-size;
  min-height: 100vh;
  overflow-x: hidden;
}

.btn-unstyle {
  background: none;
  border: none;
  margin: 0 0 0 -5px;
  &:first-child {
    margin: 0 0 5px 10px;
  }
}

.basic-container {
  padding: 0px;
}

a.disabled {
  text-decoration: unset !important;
}
