$primary-color: #164c7b;
$secondary-color: #0A3864;
// Global colors
$error-color: #d44950;
$editable-color: blue;
$cell-edit-color: yellow;
$nav-hover-color: #2cbb9c;
$icon-color: #7394b0;
// Sidebar colors
$sidebar-bg-color: #164c7b;
$sidebar-selected-bg-color: #0A3864;
$sidebar-unfeatured-item-color: rgba(255, 255, 255, 0.5);

// Fonts
$base-font-family: 'Roboto', sans-serif;
$font-size-sm: 10px;
$base-font-size: 12px;
$font-size-md: 14px;
$font-size-lg: 18px;

// Named colors and variants
$light-white: #eee;
$white: #fff;
$white-30: rgba(255, 255, 255, 0.30);
$white-75: rgba(255, 255, 255, 0.75);
$white-90: rgba(255, 255, 255, 0.90);
$black: #000;
$black-70: rgba(0, 0, 0, 0.7);
$black-30: rgba(0, 0, 0, 0.3);
/**
Layout calculation variables
*/
$sidebar-minimal-view: 70px;
$sidebar-expanded-view: 215px;
$right-sidebar-expanded-view: 275px;
$nesting-margin : 0 10px;
