$primary-color: #164c7b;
$secondary-color: #0A3864;
// Global colors
$error-color: red;
$editable-color: blue;
$cell-edit-color: yellow;
$nav-hover-color: #2cbb9c;
$icon-color: #7394b0;
// Sidebar colors
$sidebar-bg-color: #164c7b;
$sidebar-selected-bg-color: #0A3864;
$sidebar-unfeatured-item-color: rgba(255, 255, 255, 0.5);

// Named colors and variants
$white: #fff;
$white-30: rgba(255, 255, 255, 0.30);
$white-75: rgba(255, 255, 255, 0.75);
$white-90: rgba(255, 255, 255, 0.90);

// Fonts
$base-font-family: 'Roboto', sans-serif;
$font-size-sm: 10px;
$base-font-size: 12px;
$font-size-md: 14px;
$font-size-lg: 18px;

$unit: 5px;

