.bottom{
    padding-bottom: 10px
  }
  
  .width-auto{
      width: auto !important;
  }
  ::ng-deep #forceStyle .mat-input-wrapper {
    padding-bottom: 1.15em;
  }

 .row{
   margin-bottom: 0px;
 }