<div class="col m2 cell text-right" [class.font-weight-600]="bolderFont" [class.border-right]="borderRight"
  [class.background-highlight]="backgroundHighlight" [class.background-green]="backgroundGreen" [class.color-red]="colorRed">
  
  <ng-container *ngIf="value">
    <ng-container  [ngSwitch]="valueType">
        <span *ngSwitchCase="ValueType.AMOUNT"  [appCurrency]="value"></span>
        <span *ngSwitchCase="ValueType.PERCENTAGE" [appPercentage]="value"></span>
        <span *ngSwitchDefault>{{value}}</span>
    </ng-container>
  </ng-container>
  <ng-container *ngIf="!value">
      <span *ngIf="!value">&nbsp;</span>
  </ng-container>
</div>