@import "./../../../sass/theme/variables";

.success {
  fill: #28a745 !important;
}

.warning {
  fill: #ffc107 !important;
}

.alert {
  fill: #dc3545 !important;
}

.rangebar {
  padding: 0 20px;
  transform: translate(0, -40px);
}

.text {
  transform: translate(-15px, -20px);
  font-size: $base-font-size;
  fill: $primary-color;
}

.text-val {
  transform: translate(-6px, 20px);
  font-size: $font-size-sm;
}

.main-value {
  transform: translate(-4px, -10px);
}
