<mat-accordion>
  <mat-expansion-panel [expanded]="true">
    <mat-expansion-panel-header>
      <mat-panel-title>
        PROJECTED INCOME
      </mat-panel-title>
    </mat-expansion-panel-header>

    <div *ngIf="allDataFetched" class="container">
      <div class="row">
        <div class="col s12">
          <table class="bordered">
            <thead>
              <tr>
                <th>Projected Income</th>
                <th>Acres</th>
                <th>Crop Yield</th>
                <th>Share</th>
                <th>Crop Price</th>
                <th>Basis Adj</th>
                <th>Mktg Adj</th>
                <th>Rebate Adj</th>
                <th>Revenue</th>
              </tr>
            </thead>

            <tbody>
              <tr>
                <td>
                  <b>Crop Revenue</b>
                </td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
              <tr *ngFor="let cropunit of localloanobject.LoanCropUnits">
                <td>{{cropunit.Crop_Code}}</td>
                <td>{{cropunit.CU_Acres}}</td>
                <td>200</td>
                <td>95%</td>
                <td>$ {{cropunit.Z_Price}}</td>
                <td>$ {{cropunit.Z_Basis_Adj}}</td>
                <td>$ {{cropunit.Z_Marketing_Adj}}</td>
                <td>$ {{cropunit.Z_Rebate_Adj}}</td>
                <td>$ {{cropunit.FC_Revenue | number}}</td>
              </tr>
              <tr>
                <td>
                  <b>Subtotal Crop Revenue</b>
                </td>
                <td>$ {{localloanobject.LoanCropUnitFCvalues.FC_SubTotalAcres}}</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td>$ {{localloanobject.LoanCropUnitFCvalues.FC_SubtotalCropRevenue}}</td>
              </tr>
              <tr>
                <td>
                  <b>Additional Revenue</b>
                </td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <td>FSA</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <td>Other</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <td>
                  <b>Total Additional Revenue</b>
                </td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td>$ -</td>
              </tr>
              <tr>
                <td>
                  <b>Total Revenue</b>
                </td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td>$ {{localloanobject.LoanCropUnitFCvalues.FC_TotalRevenue}}</td>
              </tr>
              <tr>
                  <td>
                    <b>Total Budget</b>
                  </td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td>$ {{localloanobject.LoanCropUnitFCvalues.FC_TotalBudget}}</td>
                </tr>
                <tr>
                    <td>
                      <b>Estimated Interest</b>
                    </td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>$ {{localloanobject.LoanCropUnitFCvalues.FC_EstimatedInterest}}</td>
                  </tr>
                  <tr>
                      <td>
                        <b>Total Cash Flow</b>
                      </td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td>$ {{localloanobject.LoanCropUnitFCvalues.FC_TotalCashFlow}}</td>
                    </tr>
            </tbody>
          </table>
          <br>
        </div>
      </div>
    </div>
  </mat-expansion-panel>
</mat-accordion>