<mat-accordion>
  <mat-expansion-panel [expanded]="true">
    <mat-expansion-panel-header>
      <mat-panel-title>
        PROJECTED INCOME
      </mat-panel-title>
    </mat-expansion-panel-header>

    <div *ngIf="allDataFetched" class="container">
      <div class="row">
        <div class="col s12 no-padding">
          <table class="bordered">
            <thead>
              <tr>
                <th>Projected Income</th>
                <th>Acres</th>
                <th>Crop Yield</th>
                <th>Share</th>
                <th>Crop Price</th>
                <th>Basis Adj</th>
                <th>Mktg Adj</th>
                <th>Rebate Adj</th>
                <th>Revenue</th>
              </tr>
            </thead>

            <tbody>
              <tr>
                <td>
                  <b>Crop Revenue</b>
                </td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
              <tr *ngFor="let crop of cropRevenue">
                <td>{{crop.Name}}</td>
                <td>{{crop.Acres}}</td>
                <td>{{crop.CropYield | number}}</td>
                <td class="percent">{{crop.Share}}</td>
                <td class="price">{{crop.Price.toFixed(4)}}</td>
                <td class="price">{{crop.Basic_Adj.toFixed(4)}}</td>
                <td class="price">{{crop.Marketing_Adj.toFixed(4)}}</td>
                <td class="price">{{crop.Rebate_Adj.toFixed(4)}}</td>
                <td class="price">{{crop.Revenue.toFixed(0) | number}}</td>
                
              </tr>
              <tr class="background-highlight">
                <td>
                  <b>Subtotal Crop Revenue</b>
                </td>
                <td>{{totalAcres}}</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td class="price">{{NetCropRevenue  | number}}</td>
              </tr>
              <tr>
                <td>
                  <b>Additional Revenue</b>
                </td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <td>FSA</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td class="price">{{Net_Market_Value_FSA  | number}}</td>
              </tr>
              <tr>
                  <td>Livestock</td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td class="price">{{Net_Market_Value_Livestock  | number}}</td>
                </tr>
                <tr>
                    <td>Stored Crop</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td class="price">{{Net_Market_Value_Stored_Crops  | number}}</td>
                  </tr>
              <tr>
                <td>Other</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td class="price">{{Net_Market_Value__Other  | number}}</td>
              </tr>
              <tr>
                <td class="font-weight-600">
                  Total Additional Revenue
                </td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td class="price font-weight-600">{{Total_Additional_Revenue  | number}}</td>
              </tr>
              <tr>
                <td class="font-weight-600">
                  <b>Total Revenue</b>
                </td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td class="price font-weight-600">{{Total_Revenue  | number}}</td>
              </tr>
              <tr>
                  <td>
                    Total Budget
                  </td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td class="price">{{Total_Expense_Budget  | number}}</td>
                </tr>
                <tr>
                    <td>
                      Estimated Interest
                    </td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td class="price">{{Estimated_Interest  | number}}</td>
                  </tr>
                  <tr class="background-highlight">
                      <td>
                        <b>Total Cash Flow</b>
                      </td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td class="price">{{Total_CashFlow  | number}}</td>
                    </tr>
            </tbody>
          </table>
          <br>
        </div>
      </div>
    </div>
  </mat-expansion-panel>
</mat-accordion>
