<mat-accordion>
  <mat-expansion-panel [expanded]="true">
    <mat-expansion-panel-header>
      <mat-panel-title>
        BALANCE SHEET
      </mat-panel-title>
    </mat-expansion-panel-header>
     <button (click)="synctoDb()" class="btn-unstyle">
        <a class="waves-effect waves-light btn"><i class="material-icons left">cloud</i>Publish</a>
     </button>
    <div class="container bottom">
        <ag-grid-angular
        style="width: 96%; height: 180px;"
        class="ag-theme-balham"
        [singleClickEdit]="true"
        (cellEditingStopped)="celleditingstopped($event)"
        [enableSorting]="true"
        [enableFilter]="true"
        [rowData]="rowData"
        [getRowClass]="getRowClass"
        (gridReady)="onGridReady($event)"
        [pinnedBottomRowData]="pinnedBottomRowData"
        [columnDefs]="columnDefs">
        </ag-grid-angular>
        </div>
  </mat-expansion-panel>
</mat-accordion>
