/* You can add global styles to this file, and also import other style files */
@import "sass/theme/variables";
@import "sass/theme/global";

@import "sass/custom/components/header-menu";
@import "sass/custom/components/side-bar";

@import "sass/custom/overrides/mat-overrides";
@import "sass/custom/overrides/browser-overrides";
@import "sass/custom/overrides/ag-grid-overrides";
@import "sass/custom/overrides/materialize-overrides";
@import "sass/custom/overrides/rating";

@import "sass/custom/utils";


//@import "~@ng-select/ng-select/themes/material.theme.css";
@import "~@ng-select/ng-select/themes/default.theme.css";

ag-grid-angular {
    .ag-row-hover {
        z-index: 1 !important;
    }
}
.ag-cell {
    //display: inline-block;
    //position: relative;
    // padding: 0px 2px 15px 2px;
    &:hover .tooltiptext,
    &:hover .tooltiptext:after {
        display: block;
        z-index: 9999;
    }
}