<div class="basic-container">
  <mat-accordion>
    <mat-expansion-panel [expanded]="true">
      <mat-expansion-panel-header>
        <mat-panel-title>
          Farmer
        </mat-panel-title>
      </mat-expansion-panel-header>
      <app-farmer-info></app-farmer-info>

    </mat-expansion-panel>
  </mat-accordion>

  <mat-accordion>
    <mat-expansion-panel [expanded]="true">
      <mat-expansion-panel-header>
        <mat-panel-title>
          Borrower
        </mat-panel-title>
      </mat-expansion-panel-header>
      <app-borrower-info></app-borrower-info>
    </mat-expansion-panel>
  </mat-accordion>

  <app-balancesheet></app-balancesheet>
  <app-questions></app-questions>
  <app-buyer-association></app-buyer-association>

  <mat-accordion>
    <mat-expansion-panel [expanded]="true">
      <mat-expansion-panel-header>
        <mat-panel-title>
          Borrower Rating
        </mat-panel-title>
      </mat-expansion-panel-header>
      <app-rating></app-rating>
    </mat-expansion-panel>
  </mat-accordion>

  <mat-accordion>
    <mat-expansion-panel [expanded]="true">
      <mat-expansion-panel-header>
        <mat-panel-title>
          Farm Financial
        </mat-panel-title>
      </mat-expansion-panel-header>
      <app-farm-financial></app-farm-financial>
    </mat-expansion-panel>
  </mat-accordion>


</div>