<div class="basic-container">

    <div class="page-header">
        <span class="text">Borrower</span>
        <app-btn-publish (publishClicked)="synctoDb()" [currentPageName]="currentPageName"></app-btn-publish>
    </div>

    <mat-accordion>
        <mat-expansion-panel [expanded]="true">
          <mat-expansion-panel-header>
            <mat-panel-title>
              Borrower
            </mat-panel-title>
          </mat-expansion-panel-header>
          <app-borrower-info [allowIndividualSave]=true></app-borrower-info>
        </mat-expansion-panel>
      </mat-accordion>

  <mat-accordion>
    <mat-expansion-panel [expanded]="false">
      <mat-expansion-panel-header>
        <mat-panel-title>
          Farmer Affiliate
        </mat-panel-title>
      </mat-expansion-panel-header>
      <app-farmer-info></app-farmer-info>

      <mat-accordion>
          <mat-expansion-panel [expanded]="false"  style="margin: 0 1em;">
            <mat-expansion-panel-header>
              <mat-panel-title>
                Affiliated Loans
              </mat-panel-title>
            </mat-expansion-panel-header>
            
          </mat-expansion-panel>
        </mat-accordion>

    </mat-expansion-panel>
  </mat-accordion>

  <mat-accordion>
      <mat-expansion-panel [expanded]="true">
        <mat-expansion-panel-header>
          <mat-panel-title>
            Credit Score
          </mat-panel-title>
        </mat-expansion-panel-header>
        <mat-card>
            <mat-form-field class="demo-full-width">    
                <input [(ngModel)]="creditscore" matInput placeholder="Credit Score">    
            </mat-form-field> 
            <mat-form-field class="demo-full-width">    
                <input [(ngModel)]="creditdate" matInput [matDatepicker]="picker" placeholder="Assessment Date">    
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>    
                <mat-datepicker touchUi="true" #picker></mat-datepicker>    
            </mat-form-field> 
            <button (click)="updatecreditvalues()" mat-raised-button color="accent">Submit</button> 
        </mat-card>
      </mat-expansion-panel>
    </mat-accordion>

  <mat-accordion>
    
    <mat-expansion-panel [expanded]="true">
      <mat-expansion-panel-header>
        <mat-panel-title>
          Borrower Income History
        </mat-panel-title>
      </mat-expansion-panel-header>
      <app-borrower-income-history></app-borrower-income-history>
    </mat-expansion-panel>
  </mat-accordion>

  <app-balancesheet></app-balancesheet>
  <app-questions [chevronId]="'Borrower'"  [currentPageName]="currentPageName"></app-questions>

 <mat-accordion>
    <mat-expansion-panel [expanded]="true">
      <mat-expansion-panel-header>
        <mat-panel-title>
          Farm Financial
        </mat-panel-title>
      </mat-expansion-panel-header>
      <app-farm-financial></app-farm-financial>
    </mat-expansion-panel>
  </mat-accordion>
 
  <mat-accordion>
    <mat-expansion-panel [expanded]="true">
      <mat-expansion-panel-header>
        <mat-panel-title>
          Borrower Rating
        </mat-panel-title>
      </mat-expansion-panel-header>
      <app-rating></app-rating>
    </mat-expansion-panel>
  </mat-accordion>

 




</div>