
<mat-accordion>
  <mat-expansion-panel [expanded]="true">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Questions
      </mat-panel-title>
    </mat-expansion-panel-header>
    <button (click)="synctoDb()"  mat-icon-button>
      <mat-icon >publish</mat-icon>
    </button>
    <div class="container bottom">
      <div class="q-row" *ngFor="let q of RefQuestions; let i = index;">
        <mat-radio-group [(ngModel)]="LoanQResponse[i].Response_Ind" (ngModelChange)="change()">
          <mat-radio-button value="1">Agree</mat-radio-button>
          <mat-radio-button value="0">Disagree</mat-radio-button>
        </mat-radio-group>
        <div class="right-side">
          <span>{{q.Question_ID_Text}}</span>
          <mat-form-field *ngIf="LoanQResponse[i].Response_Ind.toString() === '0'">
            <textarea [(ngModel)]="LoanQResponse[i].Response_Detail_Text" (blur)="change()" matInput placeholder="Answer"></textarea>
          </mat-form-field>
        </div>
      </div>
    </div>
  </mat-expansion-panel>
</mat-accordion>
