.bottom{
  padding-bottom: 10px
}
.q-row{
  margin-bottom: 10px;
  //display: table-row;
  width: 100%;
  .right-side{
    margin-left: 45px;
    mat-form-field{
      margin-top: 10px;
    }
  }
}


.parent:before {
  content: '●';
  margin-right: 10px;
  font-size: large;
}

.child:before {
  content: '○';
  margin-right: 10px;
  font-size: large;
}

.child{
  padding-left :10px;
}

mat-radio-button{
  padding: 0 10px;
}
.child-cheveron{
  margin: 0 1em;
}