<div class="basic-container">

  <mat-accordion>
    <mat-expansion-panel [expanded]="true">
      <mat-expansion-panel-header>
        <mat-panel-title>
          Agent
        </mat-panel-title>
      </mat-expansion-panel-header>

       <button (click)="synctoDb()" class="btn-unstyle" [disabled]="!syncenabled">
      <a class="waves-effect waves-light btn"><i class="material-icons left">cloud</i>Publish</a>
     </button>

      <!-- <button (click)="addrow()" mat-raised-button color="primary">Add </button> -->
     <a (click)="addrow()" class="waves-effect waves-light btn"><i class="material-icons left">add</i>Add</a>

      <div class="container bottom">
        <div class="row">
          <ag-grid-angular style="width: 96%; height: 250px;" class="ag-theme-balham roboto-font" [context]="context" [frameworkComponents]="frameworkcomponents"
            [components]="components" (rowEditingStopped)="rowvaluechanged($event)" [rowData]="rowData" [editType]="editType"
            (gridReady)="onGridReady($event)" [columnDefs]="columnDefs">
          </ag-grid-angular>
        </div>
      </div>
      <br>
    </mat-expansion-panel>
  </mat-accordion>

</div>
