
<div class="basic-container">

  <mat-accordion>
  <mat-expansion-panel [expanded]="true">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Agent
      </mat-panel-title>
    </mat-expansion-panel-header>

      <button (click)="synctoDb()" [disabled]="!syncenabled" mat-icon-button>
      <mat-icon >publish</mat-icon>
    </button>

    <button (click)="addrow()" mat-raised-button color="primary" >Add </button>
      
          <div class="container bottom">
            <div class="row">
            <ag-grid-angular 
            style="width: 96%; height: 250px;" 
            class="ag-theme-balham roboto-font"
            [context]="context"
            [frameworkComponents]="frameworkcomponents"
            [components]="components"
            (rowEditingStopped)="rowvaluechanged($event)"
            [rowData]="rowData" 
            [editType]="editType"
            (gridReady)="onGridReady($event)"
            [columnDefs]="columnDefs"
            [gridAutoHeight]=true>
            </ag-grid-angular>
            </div>
          </div>
          <br>
  </mat-expansion-panel>
  </mat-accordion>
 
</div>