<br>
<div class="row">
  <div class="col s1"></div>
  <div class="col s10">
    <mat-card>
      <mat-form-field>
        <input type="number" [(ngModel)]="Borrowercreditscore" matInput placeholder="Borrower Credit score">
      </mat-form-field>

      <mat-form-field>
        <mat-select [(value)]="CPA_Prepared" placeholder="CPA_Prepared_Financials">
          <mat-option [value]=1> Yes
          </mat-option>
          <mat-option [value]=0> No
          </mat-option>
        </mat-select>
      </mat-form-field>
      <br>
      <button (click)="update()" mat-raised-button color="primary">Update</button>
    </mat-card>

  </div>
  <div class="col s1"></div>

</div>